/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Manrope:wght@500;700&family=Nunito+Sans:opsz,wght@6..12,600;6..12,800&family=Open+Sans:wght@400;500;600;700&family=Raleway:wght@600&family=Roboto:wght@400;500;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@font-face {
    font-family: "FuturaBold";
  src: url("../../assets/fonts/FuturaBold.eot");
  src: url("../../assets/fonts/FuturaBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/FuturaBold.woff") format("woff"), url("../../assets/fonts/FuturaBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

html {
    font-size: 0.0549450549vw;
    background: #00112b;
    min-height: 100vh;
}

@media screen and (min-width: 1921px) {
    html {
        font-size: 1px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 0.0869565217vw;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 0.1351351351vw;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 0.2857142857vw;
    }
}

body {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 16px;
    min-height: 100vh;
}

main {
    overflow: hidden;
}

a {
    color: #ffffff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.deal-body {
    position: relative;
    background: url("../../assets/icons/dot-background.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.container {
    padding: 0 20px;
    max-width: 1340px;
    margin: 0 auto;
}

.button {
    white-space: nowrap;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 15px;
    background: linear-gradient(114deg, #0da6c2 20.67%, #0e39c6 89.64%) padding-box, linear-gradient(114deg, #0da6c2 20.67%, #0e39c6 89.64%) border-box;
    transition: all 0.3s;
    background-size: 100% 100%;
}

.button:hover {
    background-size: 100% 500%;
}

.button:hover:after {
    left: 0;
    right: 0;
    box-shadow: none;
}

.button:after {
    transition: all 0.3s;
    content: "";
    border-radius: 15px;
    z-index: -1;
    left: 35px;
    right: 35px;
    top: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 0 5px #0da6c2;
}

.button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 1px solid transparent;
    background: linear-gradient(114deg, #1affff 0%, #1b71ff 100%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.button.blank {
    box-shadow: none;
    background: transparent;
}

.button.blank::before {
    background: none;
}

.button.blank:after {
    box-shadow: none;
}

.title {
    color: rgb(236, 241, 240);
    font-family: "Open Sans", sans-serif;
    font-feature-settings: "salt" on, "liga" off;
    font-size: 38.1rem;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.subtitle {
    color: rgb(182, 182, 182);
    font-feature-settings: "salt" on, "liga" off;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
}

.avatar {
    position: relative;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #00d7ff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
}

.avatar:after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 9px;
    height: 9px;
    background: #0eca80;
    border-radius: 50%;
}

.nickname {
    color: #00d7ff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 18px;
}

.small-text {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: #9399a4;
}

.icon {
    min-width: 87px;
    min-height: 87px;
    max-width: 87px;
    max-height: 87px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
}

.back {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.02);
}

.back-border {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.color-border {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.02);
    position: relative;
}

.color-border:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 1px solid transparent;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    background: linear-gradient(rgb(0, 196, 244), rgba(53, 53, 53, 0.92), rgb(0, 196, 244), rgba(53, 53, 53, 0.26), rgb(3, 11, 21)) border-box;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 123.077%;
    letter-spacing: normal;
}

.light {
    color: #ffffff;
}

label {
    position: relative;
    cursor: default;
}

.label {
    display: block;
    margin-bottom: 8px;
    color: #9399a4;
}

.input {
    width: 100%;
    padding: 24px 16px;
    color: #ffffff;
    display: block;
    border-radius: 15px;
    border: 2px solid #001a4d;
}

.hidden {
    opacity: 0;
}

.big-container {
    max-width: 1392px;
    padding-right: 5px;
}

.border-accent {
    border: 1px solid #00d7ff;
}